// Colors
$color-primary:                         #AE9244;
$color-primary-dark:                         #8f7236;
$color-primary-light:                         #BFA355;

$color-link-hover-dark:                 #B2B5B7;